
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Document</title>
</head>
<div>
    <h1>Jugador1: <%=$nombre%> </h1> 
    <h1>Jugador2: <%=$nombrep%> </h1>
    <h1>modo juego: <%=$quien%> </h1>
    <h1>tipo: <%=$modo%> </h1>
    <h1>dificultad: <%=$dificultad%> </h1>     
</div>
<body>
    <div class= "H">
        <h2> Ingresar Clave Secreta <h2> 
    </div>
    <div class="container">  
        <form action ="/ingresarClave" method="post">
            Clave: <input type="password"  name="clave"><br>        
            <input type="submit" value="Ingresar Clave">
        </form>
    </div>
</body>

